.posts {
	margin-bottom: 24px;
}

.posts--title {
	//font-family: 'Roboto Condensed', sans-serif;
	h3 {
		font-size: 24px;
		font-size: 1.5rem;
		line-height: 1;
	}
}

.posts--list {
	list-style: none;
	margin-left: 0;
	border: 0 solid #ccc;
	border-top-width: 1px;
	li {
		border: 0 solid #ccc;
		border-bottom-width: 1px;
		padding: 10px;
		a {
			text-decoration: none;
			color: $main--typography-color;
			:hover {}
			:focus {}
		}
	}
}

.posts--date {
	color: #aaa;
	margin-bottom: 5px;
}

// Single post
.post--meta {
	color: #666;
}
.post--title {
	color: $main--typography-color;
}
.post--content {
	p {
		line-height: 1.5;
		img {

		}
	}
}