//---
//# Only the main Sass file needs front matter (the dashes are enough)
//---
@charset "utf-8";
// Import partials from `sass_dir` (defaults to `_sass`)
@import "vars";
@import "highlight";
@import "vendors/inuitcss/inuit";
@import "posts";
@import "header";

body{
	max-width: 700px;
	margin: 0 auto;
}

html {
	padding: 20px;
	padding-bottom: 0;
}

a {
	text-decoration: none;
	color: $main--typography-color;
	:hover {
		color: #DB9090;
	}
}

